body {
background-size:cover;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  width: 100%;
  height: 750px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
* {
  margin: 0;
  padding: 0;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: red;
}
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: bottom;
    align-items: center;
    text-align: start;


  }
  
  .form-control {
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #172432;
  }
  
  button {
    display: inline-block;
    background-color: #172432;
    border: none;
    color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
  }
  

#content-box {
  width: 500px;
  height: 500px;
  border: 10px solid lightgray;
  border-radius: 10px;

  /*background-color: green;*/
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  background-size: cover;
  grid-template-areas:
    "header header"
    "nav main "
    " nav footer ";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}
#home{
    margin-bottom: 100%;
}
#pokemon-info {
  width: 250px;
  height: 500px;
  background-color: cyan;
  text-align: center;
  grid-area: auto;
}
#pokemon-info :hover {
    background-color: firebrick;
}

#pokemon-list {
  width: 250px;
  height: 500px;
  background-color: yellow;
  font-size: 18px;
  overflow-y: auto;
  grid-area: auto;
}
.scroll-container {
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    overflow: auto; /* Display scroll bars when necessary */
  }
  
  .content {
    /* Add some content to make the scroll bars appear */
    width: 1000px;
    height: 1000px;
  }
  
.pokemon-name {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.pokemon-info img{
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

#pokemon-img :hover{
    background-image:url("/Users/jackiecheung/Desktop/ivysaur.jpeg")
}

#pokemon-types{
    margin-top: 10px;
}

.typebox{
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.normal{
    background-color: beige;
    color: black;
}

.fire{
    background-color: orange;
    color:white;
}

.grass{
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color:white;
}

.ice{
    background-color: lightblue;
    background-color: black;
}

.electric{
    background-color: gold;
    color:blue;
}

.fighting{
    background-color: darkred;
    color: white;
}

.flying{
    background-color: skyblue;
    color:white;
}

.bug{
    background-color: yellowgreen;
    color:white;
}

.ghost{
    background-color: purple;
    color:white;
}

.rock{
    background-color: sienna;
    color:white;
}

.ground{
    background-color: burlywood;
    color: black;
}

.steel{
    background-color: silver;
    color: black;
}

.dark{
    background-color: darkgrey;
    color: black;
}

.psychic{
    background-color: palevioletred;
    color: white;
}

.fairy{
    background-color: pink;
    color: black;
}

.dragon{
    background-color: teal;
    color: white;
}

.poison{
    background-color: darkviolet;
    color: white;
}

#pokemon-description{
    width: 230px;
    height:100px;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    
    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: auto;
}

footer{
    background: goldenrod;
    color: white;
    font-size: 14px;
    padding:25px 1fr 1fr 1fr;
    text-align:justify
}